@mixin transform($transform) {
    -o-transform: $transform;
    -ms-transform: $transform;
    -moz-transform: $transform;
    -webkit-transform: $transform;
    transform: $transform;
}

@mixin box-sizing($box-sizing) {
    -o-box-sizing: $box-sizing;
    -ms-box-sizing: $box-sizing;
    -moz-box-sizing: $box-sizing;
    -webkit-box-sizing: $box-sizing;
    box-sizing: $box-sizing;
}

@mixin animation($animation) {
    -o-animation: $animation;
    -ms-animation: $animation;
    -moz-animation: $animation;
    -webkit-animation: $animation;
    animation: $animation;
}

@mixin transition($transition...) {
    @if length($transition) == 0 {
        $transition: $transition-base;
    }
    -webkit-transition : $transition;
    -moz-transition : $transition;
    -o-transition : $transition;
    transition : $transition;
}
