@import "node_modules/sweetalert/dist/sweetalert";

/*********************
  Tooltip
  -----------------
  Example Tooltip Top:
  <div class="tooltip">
      <span>&#9996</span>
      <span class="tooltip-text">Test Tooltip</span>
  </div>

  Example Tooltip Right:
  <div class="tooltip tooltip-right">
      <span>&#9996</span>
      <span class="tooltip-text">Test Tooltip</span>
  </div>

  Example Tooltip Bottom:
  <div class="tooltip tooltip-bottom">
      <span>&#9996</span>
      <span class="tooltip-text">Test Tooltip</span>
  </div>

  Example Tooltip Left:
  <div class="tooltip tooltip-left">
      <span>&#9996</span>
      <span class="tooltip-text">Test Tooltip</span>
  </div>
**********************/
.tooltip {
    position: relative;
    display: inline-block;
    opacity: 1; /* Overwrite from bootstrap */
}

.tooltip.input-group-addon {
    display: table-cell;
}

.tooltip > :not(.tooltip-text) {
    cursor: pointer;
}

/**
 * General tooltip (top tooltip)
 */
.tooltip .tooltip-text {
    text-align: center;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s;
    background-color: black;
    color: #fff;
    width: 120px;
    padding: 5px;
    border-radius: 6px;

    /* Tooltip top specific */
    bottom: 100%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltip:hover .tooltip-text {
    opacity: 1;
}

.tooltip .tooltip-text::after {
    content: " ";
    position: absolute;
    border: 5px solid transparent;

    /* Tooltip top specific */
    border-top-color: black;
    top: 100%;
    left: 50%;
    margin-left: -5px;
}


/**
 * Right Tooltip
 */
.tooltip.tooltip-right .tooltip-text {
    /* Reset top tooltip */
    margin-left: initial;

    bottom: -30px;
    left: 20px;
}

.tooltip.tooltip-right .tooltip-text::after {
    /* Reset top tooltip */
    border-top-color: transparent;
    margin-left: initial;
    left: initial;

    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-right-color: black;
}


/**
 * Left Tooltip
 */
.tooltip.tooltip-left .tooltip-text {
    /* Reset top tooltip */
    margin-left: initial;
    left: initial;

    bottom: -30px;
    right: 20px;
}

.tooltip.tooltip-left .tooltip-text::after {
    /* Reset top tooltip */
    border-top-color: transparent;
    margin-left: initial;

    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-left-color: black;
}


/**
 * Bottom Tooltip
 */
.tooltip.tooltip-bottom .tooltip-text {
    /* Reset top tooltip */
    bottom: initial;

    width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */

}

.tooltip.tooltip-bottom .tooltip-text::after {
    /* Reset top tooltip */
    border-top-color: transparent;
    top: initial;

    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-bottom-color: black;
}